{% if section.blocks.size > 0 %}
<div class="list">
  <h2>{{ section.settings.title2 }}</h2>
  <div class="accordion">
      {% for block in section.blocks %}
        <div class="accordion-list">
          <div class="accordion-title">{{ block.settings.title }} <i class="icon-close"></i></div>
          <div class="accordion-content">
           {{ block.settings.content }}
          </div>
        </div>
      {% endfor %}
  </div>
</div>
{% endif %}
{% schema %}
{
  "name": {
    "en": "Product FAQ list"
  },
  "settings": [
    {
      "type": "text",
      "id": "title2",
      "label": {
		"en": "Title"
      }
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": {
        "en": "Block"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "richtext",
          "id": "content",
          "label": {
            "en": "Content"
          }
        }
      ]
    }
  ]
}
{% endschema %}
