<section class="bread-crumbs-content">
  <div class="container">
    <ul>
      <li><a href="/pages/barista-courses">Barista Courses</a></li>
      <li>{{ page.title }}</li>
    </ul>
  </div>
</section>
<section class="two-columns-title-intro">
  <div class="container">
    <div class="content">
      <div class="left-box wowo fadeInUp">
        <h2>{{ page.metafields.accentuate.title_bookings }}</h2>
      </div>
      <div class="right-box wowo fadeInUp">
        {{ page.metafields.accentuate.content_bookings }}
      </div>
    </div>
  </div>
</section>
